@media (max-width: 575.98px) {
  .contact-nav {
    background-color: white;
    height: 85px;
  }
  .contact-nav .sosmed-img {
    margin-top: -70px;
  }
  .navbar {
    background-color: #273036;
    position: fixed;
    margin-top: 85px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar-toggler {
    background-color: brown;
  }
  .carousel {
    margin-top: 56px;
  }
  .carousel-caption {
    z-index: 1;
    top: 70px;
  }
  .carousel-caption h3 {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .f-size-title {
    font-size: 25px;
  }
  .carousel-caption a {
    font-size: 25px;
  }
  .btn-outline-danger {
    border: 1px solid brown;
    color: white;
  }
  .btn-outline-danger:hover {
    background-color: brown;
    border: 1px solid brown;
  }
  .carousel-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(165, 42, 42, 0.13)), to(black));
    background: linear-gradient(to bottom, rgba(165, 42, 42, 0.13), black);
    height: 700px;
    width: 100%;
  }
  .nav-brand-animate {
    display: none;
  }
  .nav-animated .nav-brand-animate {
    display: block;
  }
  .nav-animated .dropdown-menu-cstm {
    top: 47px;
  }
  .nav-animated {
    margin-top: 0;
    background-color: brown;
  }
  .nav-animated .navbar-toggler {
    background-color: #F3F4F5;
  }
  .dropdown-menu-cstm {
    list-style: none;
    position: absolute;
    background-color: brown;
    color: white;
    top: 40px;
    left: 0;
    width: 100%;
    display: none;
  }
  .dropdown-menu-cstm a {
    color: white;
  }
  .fitures .blob {
    width: 470px;
    top: -5 0px;
    left: -70px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
  }
  .fitures img {
    position: relative;
    z-index: 2;
  }
  .fitures .blob2 {
    width: 400px;
    top: -20px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
  }
  .scroll-up {
    position: fixed;
    bottom: 30px;
    right: 0;
    margin: 5px;
  }
}

@media (min-width: 1200px) {
  .contact-nav {
    background-color: white;
    height: 70px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.199);
    margin-top: 70px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .carousel-item {
    height: 500px;
  }
  .carousel-item img {
    height: 500px;
  }
  .carousel-caption {
    z-index: 1;
    top: 120px;
  }
  .carousel-caption h3 {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .f-size-title {
    font-size: 60px;
  }
  .carousel-caption a {
    font-size: 25px;
  }
  .btn-outline-danger {
    border: 1px solid brown;
    color: white;
  }
  .btn-outline-danger:hover {
    background-color: brown;
    border: 1px solid brown;
  }
  .carousel-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(165, 42, 42, 0.13)), to(black));
    background: linear-gradient(to bottom, rgba(165, 42, 42, 0.13), black);
    height: 700px;
    width: 100%;
  }
  .nav-brand-animate {
    display: none;
  }
  .nav-animated {
    margin-top: 0;
    background: -webkit-gradient(linear, left top, right top, from(black), to(brown));
    background: linear-gradient(to right, black, brown);
    height: 50px;
  }
  .nav-animated .nav-brand-animate {
    display: block;
  }
  .dropdown-menu-cstm {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 12%, 31% 12%, 23% 4%, 16% 12%, 0 12%);
            clip-path: polygon(0 100%, 100% 100%, 100% 12%, 31% 12%, 23% 4%, 16% 12%, 0 12%);
    position: absolute;
    background-color: brown;
    padding: 25px 10px 10px 10px;
    margin-top: -8px;
    visibility: hidden;
  }
  .dropdown:hover .dropdown-menu-cstm {
    visibility: visible;
  }
  .dropdown-menu-cstm a {
    color: white;
  }
  .fitures .blob {
    width: 700px;
    top: -150px;
    bottom: 0px;
    left: -170px;
    position: absolute;
    z-index: 1;
  }
  .fitures img {
    z-index: 2;
    position: relative;
  }
  .scroll-up {
    position: fixed;
    bottom: 50px;
    right: 0;
    margin: 5px;
  }
}

@media (min-width: 1400px) {
  .contact-nav {
    background-color: white;
    height: 70px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.199);
    margin-top: 70px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .carousel-item {
    height: 550px;
  }
  .carousel-item img {
    height: 550px;
  }
  .carousel-caption {
    z-index: 1;
    top: 150px;
  }
  .nav-brand-animate {
    display: none;
  }
  .nav-animated {
    margin-top: 0;
    background: -webkit-gradient(linear, left top, right top, from(black), to(brown));
    background: linear-gradient(to right, black, brown);
    height: 50px;
  }
  .nav-animated .nav-brand-animate {
    display: block;
  }
  .dropdown-menu-cstm {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 12%, 31% 12%, 23% 4%, 16% 12%, 0 12%);
            clip-path: polygon(0 100%, 100% 100%, 100% 12%, 31% 12%, 23% 4%, 16% 12%, 0 12%);
    position: absolute;
    background-color: brown;
    padding: 25px 10px 10px 10px;
    margin-top: -8px;
    visibility: hidden;
  }
  .dropdown:hover .dropdown-menu-cstm {
    visibility: visible;
  }
  .dropdown-menu-cstm a {
    color: white;
  }
  .regis .blob {
    width: 750px;
    top: -150px;
    bottom: 0px;
    left: -180px;
    position: absolute;
    z-index: 1;
  }
  .regis img {
    z-index: 2;
    position: relative;
  }
  .scroll-up {
    position: fixed;
    bottom: 30px;
    right: 0;
    margin: 5px;
    z-index: 2;
  }
  .services {
    margin: 70px 0 250px 0;
  }
  .zoom {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .zoom:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */
